.dashboard-card {
  height: 20vh;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
  background-color: var(--mat-sys-shadow);
  color: var(--mat-sys-primary-container);
  border-radius: 0px;
  -webkit-box-shadow: -9px 9px 2px 0px var(--mat-sys-primary-container);
  box-shadow: -9px 9px 2px 0px var(--mat-sys-primary-container);
}
.dashboard-card-content {
    padding: 12px;
  text-align: left;
}
.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: var(--mat-sys-shadow);
  color: var(--mat-sys-primary-container);
}
.mat-menu button {
  background-color: var(--mat-sys-shadow);
  color: var(--mat-sys-primary-container);
}
