<div class="main-container">
  <h2 style="width: 100%; text-align: center">Change Password</h2>
  <button matIconButton matSuffix (click)="onClose()" class="icon-button">
    <mat-icon>close</mat-icon>
  </button>
  <form class="form-container" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Current Password</mat-label>
      <input matInput type="password" placeholder="Enter Current password" [formField]="passwordForm.oldPassword" />
      <mat-icon matSuffix>lock</mat-icon>
      @for (error of passwordForm.oldPassword().errors(); track error) {
        <mat-error>{{ error.message }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input matInput type="password" placeholder="Enter New password" [formField]="passwordForm.newPassword"/>
      <mat-icon matSuffix>lock</mat-icon>
      @for (error of passwordForm.newPassword().errors(); track error) {
        <mat-error>{{ error.message }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" placeholder="Confirm password" [formField]="passwordForm.confirmPassword" />
      <mat-icon matSuffix>lock</mat-icon>
      @for (error of passwordForm.confirmPassword().errors(); track error) {
        <mat-error>{{ error.message }}</mat-error>
      }
    </mat-form-field>

    <div class="actions-group">
      <button matButton="outlined" type="button" (click)="onClose()">Cancel</button>
      <button matButton="tonal" type="submit">Update</button>
    </div>
  </form>
</div>
