.main-container {
  padding: 24px;
  background: var(--mat-sys-shadow);
  height: 100%;
  overflow: auto;
}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.icon-button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.actions-group {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
}