<div class="main-container">
  <h2 style="width: 100%; text-align: center;">Change Password</h2>
  <button matIconButton matSuffix (click)="onClose()" class="icon-button">
    <mat-icon>close</mat-icon>
  </button>
  <form class="form-container">
    <mat-form-field appearance="outline">
      <mat-label>Current Password</mat-label>
      <input matInput placeholder="Enter Current password" />
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input matInput placeholder="Enter New password" />
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="Confirm password" />
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>

    <div class="actions-group">
      <button matButton="outlined">Cancel</button>
      <button matButton="tonal">Update</button>
    </div>
  </form>
</div>
