<div class="container">
  <form [formGroup]="profileForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Update Profile Information</mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding: 20px;">
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width" appearance="outline">
              <input matInput placeholder="First name" formControlName="firstName" />
              @if (profileForm.controls['firstName'].hasError('required')) {
                <mat-error>First name is <strong>required</strong></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width" appearance="outline">
              <input matInput placeholder="Last name" formControlName="lastName" />
              @if (profileForm.controls['lastName'].hasError('required')) {
                <mat-error>Last name is <strong>required</strong></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width" appearance="outline">
              <input
                matInput
                placeholder="Username"
                formControlName="username"
              />
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
            <button matButton="filled" type="button" (click)="openUpdatePassword()">Update Password</button>
            <button matButton="filled" type="button" (click)="openDeactivateAccount()">Deactivate Account</button>
        <button matButton="elevated" color="primary" type="submit">Update</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
