@if (milestones().length > 0) {
  <div class="mat-elevation-z2">
    <table mat-table [dataSource]="milestones()" class="mat-elevation-z8">
      <!-- Dynamic Column Definition -->
      @for (column of milestonesColumn(); track $index) {
        <ng-container matColumnDef="{{ column }}">
          <th mat-header-cell *matHeaderCellDef style="background: transparent">
            {{ column }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element[column] }}
          </td>
        </ng-container>
      }

      <tr mat-header-row *matHeaderRowDef="milestonesColumn()"></tr>
      <tr mat-row *matRowDef="let row; columns: milestonesColumn()"></tr>
    </table>
  </div>
} @else {
  <h3>No Milestones Achieved Yet!</h3>
}
